body{
text-align: center;
}




* {
    margin: 20;
    box-sizing: border-box;
}

h1{
    color: deeppink;
    text-align: center;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    font-size:2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}


.container{
    color: aliceblue;
    background-color:  rgb(15, 15, 32);
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 30%;
    display: block;
    height: 15%;
    text-align: justify;
}

img.float-left{
    height: 85%;
    background-color: aliceblue;
    float: left;
}


.box{
    color: aliceblue;
    background-color:  rgb(15, 15, 32);
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 30%;
    display: block;
    height: 15%;
    text-align: justify;
}


img.float-center{
    height: 85%;
    background-color: aliceblue;
    float: left;
}


.case{
    color: aliceblue;
    background-color: rgb(15, 15, 32);
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 30%;
    display: block;
    height: 15%;
    text-align: justify;
}

img.float-right{
    height: 85%;
    background-color: aliceblue;
    float: left;








}